<div class="container">
<%= form_with(model: tech, local: true) do |form| %>
  <% if tech.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tech.errors.count, "error") %> prohibited this tech from being saved:</h2>

      <ul>
      <% tech.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :technology %>
    <%= form.text_field :technology, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :version %>
    <%= form.number_field :version, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :desc %>
    <%= form.text_area :desc, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :logo %>
    <%= form.file_field :logo, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :date_created %>
    <%= form.date_select :date_created, class: 'form-control' %>
  </div>

  <%= form.number_field :user_id, :type => 'hidden', :value => current_user.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</div>
