<div class="text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Technology:</strong>
  <%= @tech.technology %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @tech.date_created %>
</p>

<p>
  <strong>Version:</strong>
  <%= @tech.version %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @tech.desc %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @tech.logo %>
</p>

<p>
  <strong>User:</strong>
  <%= @tech.user.first_name %>
</p>

<ul class="list-group">
<% @tech.comments.each do |comment| %>
  <li class="list-group-item">
    <%= link_to edit_tech_comment_path(@tech, comment) do %>
      <%= comment.body %>
    <% end %>
    <br>
    Posted By:
    <%= link_to user_path(comment.user.id) do %>
      <% comment.user.first_name %>
    <% end %>
    <br>
  </li>
<% end %>
<br>
</ul>


<% if user_signed_in? %>
  <% if current_user.id == @tech.user_id%>
    <%= link_to 'Edit', edit_tech_path(@tech) %> |
  <% end %>
<% end %>


<%= link_to 'Back', teches_path %>
</div>
